/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
}

/* margins */
body{
  margin:0;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* body layout */

/* header layout */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  margin-bottom: auto;
  z-index: 1000;
  transition: background-color 0.5s; /* Smooth transition for background color */
}

header img {
  grid-column: 1;
  height: 62px;
  width: 307px;
  margin-left: 20px;
  margin-top: 30px;
}

/* Navbar styling when scrolling */
header.scrolled {
  background-color: white; /* Change background color to white when scrolled */
}

header.scrolled nav a {
  color: black; /* Change font color to black when scrolled */
}

.white-logo {
  color: white;
}

/* Hamburger menu styling */

nav .material-symbols-outlined {
  display: none; /* Hide by default */
  cursor: pointer;
  font-size: 36px; /* Adjust size as needed */
  transition: background-color 0.5s, color 0.5s; /* Smooth transition for background color */
  margin-right: 20px; /* Add margin to push it to the right */;
}

/* Header Navigation Styling */

nav {
  grid-column: 3; /* Positioned in the middle */
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align navigation links to the right */
  align-items: center; /* Center vertically within the header */
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for navigation links */
}

nav ul li {
  margin-right:25px; /* Adjust margin between navigation links */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}

nav a {
   text-decoration: none;
   color: white;
   font-family: "montserrat", sans-serif;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   transition: color 0.5s; /* Smooth transition for font color */
}

.product-page li a {
  text-decoration: none;
  color: black;
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  transition: color 0.5s; /* Smooth transition for font color */
}

nav.scrolled {
  background-color: white; /* Change background color to white */
  color: black; /* Change font color to black */
}

nav.scrolled a {
  color: black; /* Change font color to white */
}


.contact-button {
  background-color: darkred;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px; /* Adjust margin between navigation links and contact button */
  font-family: "montserrat", sans-serif;
  white-space: nowrap; /* Prevent button text from wrapping */
}

.contact-button:hover {
  background-color: rosybrown;
}

/* Ensure the Contact Us button maintains white text color when scrolled */
header.scrolled nav a.contact-button {
  color: white; /* Keeps text color white even when scrolled */
}

/* media query for smaller screens */
@media (max-width: 1200px) {
  html{
    overflow-x: hidden;
  }
  nav ul li {
    margin-right: 10px; /* Reduce margin between navigation links */
  }

  .contact-button {
    margin-left: 10px; /* Reduce margin between navigation links and contact button */
  }
}

@media (max-width: 768px) {
  /* Header adjustments with flexbox */
  header {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out logo and hamburger menu */
    align-items: center; /* Align items vertically center */
    height: 80px; /* Adjust the header height for smaller screens */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
  }

  /* Adjust logo size and alignment */
  header img {
    margin-top: 0;
    height: auto; /* Maintain aspect ratio */
    width: 30%; /* Adjust the width as needed */
    margin-left: 20px; /* Adjust left margin for padding */
  }

  /* Navigation adjustments */
  nav {
    display: flex; /* Apply flex layout */
    align-items: center; /* Align vertically */
  }

  /* Style for both icons */
  nav .material-symbols-outlined {
    font-size: 30px;
    cursor: pointer;
    z-index: 1010;
  }

  /* Initially display only the menu icon */
  nav .material-symbols-outlined:first-of-type {
    display: block; /* Show menu icon */
  }

  /* Initially hide the close icon */
  nav .material-symbols-outlined:nth-of-type(2) {
    display: none; /* Hide close icon */
  }

  /* When menu is open, hide the menu icon and show the close icon */
  nav ul.show + .material-symbols-outlined:first-of-type {
    display: none;
  }
  nav ul.show + .material-symbols-outlined:nth-of-type(2) {
    display: block;
  }

  /* Menu styling */
  nav ul {
    display: none; /* Hide the menu initially on smaller screens */
    position: fixed;
    top: 80px; /* Adjust top position to keep it below the header */
    left: -100%; /* Start off-screen */
    width: 100%; /* Adjust width as needed */
    height: calc(100vh - 80px); /* Full viewport height minus header height */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease; /* Smooth transition for sliding in */
    z-index: 1000; /* Ensure it's above other content */
    padding-top: 0; /* Adjust padding to avoid overlapping the header */
  }

  nav ul.show {
    display: flex; /* Show menu when 'show' class is added */
    left: 0; /* Bring the menu into view */
  }

  nav ul li {
    margin-right: 0;
  }

  /* Hide other nav content on smaller screens except for the hamburger icon */
  nav > *:not(.material-symbols-outlined) {
    display: none;
  }

  nav a, .contact-button {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .contact-button {
    padding: 12px 24px; /* Increase button padding for easier tapping */
    margin-left: 0;
    margin-top: 20px;
  }

}

/*hero layout */

.hero h1 {
  display: inline-block; /* Ensures proper alignment and animation */
  font-family: "montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 400;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-bottom: 0;
  margin-top: 110px;
  margin-left: 20px;
  color: white;
}


.intro h2 {
  color: white;
  opacity: 0;
  font-size: 5vw;
  animation: fadeIn 2s ease forwards;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}

.intro {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.container {
  position: relative;
}

.wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform: scale(0, 0);
  animation: animate 1s ease-in forwards 2s;
  overflow: hidden;
  margin-bottom: -10%;
}

.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Match the .about-us-content structure */
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Maintains the existing overflow rule */
  /* padding-bottom: 50px; Optional, for consistency */

}

.hero-video {
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  animation: animate 1s ease-in forwards 2s;
  object-fit: cover; /* This will cover the area without losing aspect ratio */
  z-index: -1; /* Ensure the video stays in the background */
  filter: brightness(50%); /* Adjust brightness for better text readability */
  grid-column: 1 / -1; /* Span all columns */
  grid-row: 1; /* Start from the first row */
  margin-bottom: -10%;
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

#about-us {
  scroll-margin-top: 10vh;
}

.about-us-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0;
  grid-row-gap: 0.1rem;
  grid-column-gap: 0.1rem;
  scroll-margin-top: 10vh;
  background-color: darkred;
  padding-bottom: 5rem;
}

.about-us .about-us-blurb h2 {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: relative;
  margin-bottom: 1.4rem;
}

.about-us .about-us-blurb h2::after {
  content: "";
  position: absolute;
  bottom: -0.500rem; /* Adjust the position of the divider */
  left: 0.8em; /* Position relative to the h2 text */
  width: 10rem; /* Adjust the width of the divider */
  height: 0.125rem; /* Adjust the height of the divider */
  background-color: white; /* Color of the divider */
  border-radius: 0.3125rem;
}

.about-us p {
  font-family: "montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.about-us .about-us-1 h2,
.about-us .about-us-2 h2,
.about-us .about-us-3 h2 {
  font-family: "montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.about-us-blurb {
  grid-column: 2 / 5;
  grid-row: 1 / 4;
  padding-top: 3.5rem;
  position: relative;
}

.about-us-1,
.about-us-2,
.about-us-3 {
  grid-column: 2 / 5;
  padding-top: 3rem;
  position: relative;
  margin-left: 5%;
}

.about-us-1 .material-symbols-outlined,
.about-us-2 .material-symbols-outlined,
.about-us-3 .material-symbols-outlined {
  position: absolute;
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  font-family: 'Material Symbols Outlined';
  font-size: 2.25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* about us media query */
@media (max-width: 768px) {
  .about-us-content {
    grid-template-columns: 1fr; /* Use a single column layout for smaller screens */
    margin-bottom: -5vh;
    grid-gap: 20px; /* Increase grid gap to avoid content squeezing */
    scroll-margin-top: 50px;
    padding: 20px; /* Increase padding for better content encapsulation */

  }

  .about-us .about-us-blurb h2 {
    font-size: 24px;
    margin-bottom: 10px; /* Ensure space below headings */
    text-decoration: none; /* Remove underline */
    position: relative; /* Ensure relative positioning for the underline */
    display: inline-block; /* Make the title behave like a block element */
  }

  .about-us .about-us-blurb h2::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Position the underline below the text */
    left: 20%; /* Start the underline from the left */
    width: 100%; /* Make the underline span the entire width */
    height: 2px; /* Adjust the height of the underline */
    background-color: white; /* Color of the underline */
  }

  .about-us p {
    font-size: 16px;
  }

  .about-us .about-us-1 h2,
  .about-us .about-us-2 h2,
  .about-us .about-us-3 h2 {
    font-size: 18px;
  }

  /* Adjust the layout of content areas to prevent icon overlap */
  .about-us-blurb,
  .about-us-1,
  .about-us-2,
  .about-us-3 {
    grid-column: 1 / -1;
    padding: 20px; /* Increase padding for clarity */
    position: relative; /* Ensure positioning context is set */
  }

  .about-us-1 .material-symbols-outlined,
  .about-us-2 .material-symbols-outlined,
  .about-us-3 .material-symbols-outlined {
    position: absolute;
    left: -30px; /* Adjust left positioning to prevent overlap */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 30px; /* Adjust icon size */
    height: 30px; /* Adjust icon size */
    font-size: 30px; /* Adjust icon font size for consistency */
  }
}



/* Strengths layout */

.strengths {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  scroll-margin-top: 100px;
  background: linear-gradient(to bottom, #8B0000 50%, #f4ede4 50%);
  background-size: cover;
  padding-bottom: 12vh;
  padding-left: 2vw;

}

.strengths-1 {
  grid-column: 1;
  grid-row: 1;
}

.strengths-2 {
  grid-column: 2;
  grid-row: 1;
}

.strengths-3 {
  grid-column: 3;
  grid-row: 1;
}

.strengths-4 {
  grid-column: 4;
  grid-row: 1;
}

.strengths-1,
.strengths-2,
.strengths-3,
.strengths-4 {
  border: 2px solid ghostwhite;
  border-radius: 10px;
  padding: 20px; /* Add some padding */
  margin: 15px; /* Add some margin */
  background-color:white;
  color: black;
  width: 20vw;
  height: 361.88px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}


.strengths-1 h2,
.strengths-2 h2,
.strengths-3 h2,
.strengths-4 h2 {
  font-family: "montserrat", sans-serif;;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: black;
  margin-top: 30%;
}

.strengths-1 p,
.strengths-2 p,
.strengths-3 p,
.strengths-4 p {
  font-family:"montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.lottie-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.strengths-1:hover,
.strengths-2:hover,
.strengths-3:hover,
.strengths-4:hover {
  background-color: ghostwhite; /* Change background color on hover */
  color: black; /* Change text color on hover */
}



/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media screen and (max-width: 768px) {
  .strengths {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: repeat(4, auto); /* Four rows for four cards */
    background: linear-gradient(to bottom, #8B0000 50%, #f4ede4 50%);
    background-size: cover;
    padding: 20px; /* Add some padding for smaller screens */
    scroll-margin-top: 50px; /* Adjust scroll margin */
    padding-bottom: 10vh;
  }

  .strengths-1,
  .strengths-2,
  .strengths-3,
  .strengths-4 {
    grid-column: 1; /* Span the single column */
    grid-row: auto; /* Automatically place rows */
    width: 95%; /* Adjust width */
    height: auto; /* Adjust height */
    margin: 10px 0; /* Add some vertical margin */
    justify-self: center;
  }

  .strengths-1 h2,
  .strengths-2 h2,
  .strengths-3 h2,
  .strengths-4 h2 {
    font-size: 18px; /* Smaller font size for smaller screens */
    margin-top: 50px; /* Adjust top margin */
  }

  .strengths-1 p,
  .strengths-2 p,
  .strengths-3 p,
  .strengths-4 p {
    font-size: 14px; /* Smaller font size for smaller screens */
  }

  .lottie-icon {
    width: 80px; /* Adjust icon size */
    height: 80px; /* Adjust icon size */
    margin-top: 20px; /* Adjust top margin */
  }
}

/* Media Query for medium screens (769px to 1200px) */
  @media (min-width: 769px) and (max-width: 1400px) {
    .strengths {
      grid-template-columns: repeat(4, 1fr); /* Keep 4 columns */
    }

    .strengths-1,
    .strengths-2,
    .strengths-3,
    .strengths-4 {
      width: 15vw; /* Adjust width to fit within the screen */
      height: 37vh;
      margin: 2vw; /* Adjust margin for medium screens */
      padding: 2rem; /* Adjust padding for medium screens */
      max-width: 100%;
    }

    .strengths-1 h2,
    .strengths-2 h2,
    .strengths-3 h2,
    .strengths-4 h2 {
      font-size: 1rem; /* Slightly reduce font size */
      margin-top: 30%; /* Adjust margin top */
    }

    .strengths-1 p,
    .strengths-2 p,
    .strengths-3 p,
    .strengths-4 p {
      font-size: calc(0.4vw + 0.4vh + 0.4rem); /* Adjust font size based on viewport units */
    }

    .lottie-icon {
      width: 8vh; /* Slightly reduce icon size */
      height: 8vh;
    }
  }




/* Services layout */

/* .services {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* grid-column-gap: 1px;
  padding-bottom: 30px;
  background-color: #f4ede4
} */

/* .services-content {
  grid-column: 2 / 7;
  grid-row: 1 / 6;
  padding: 20px;
  position: relative;
  background-color: white;
  color: black;
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 120px;
  text-align: center;
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 8px 15px rgba(0, 0, 0, 0.15);
  height: 600px;
  scroll-margin-top: 180px;
} */
/*
.service-blurb {
  text-align: center;
}


 /* Commenting out service
.service-1 {
  align-items: center; /* Align items vertically
  display: flex;
  margin: 40px;
  justify-content: flex-start;
  gap: 20px; /* Added gap for spacing between icon and text
  padding: 15px; /* Padding for each service item
  background: rgba(255, 255, 255, 0.4); /* Subtle background for each service
  border-radius: 15px; /* Rounded corners for a softer look
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Shadow for depth
  width: 45%; /* Responsive width
  height: 5%; /* Maintain your specified height
  cursor: pointer;
  opacity: 0.5; /* Start with lower opacity
  transition: transform 0.2s ease-in-out, opacity 0.3s ease; /*Transitions for effects
    }
    */

/*
.lottie-icon-5 {
  width: 60px;
  height: 100px;
  transition: all 0.2s ease-in-out;
} */
/*

.service-1 p {
  margin-left: 10px;
  max-width: calc(100% - 110px); /* Adjusts max width to factor in the icon width and its margin */
  /* word-wrap: break-word;
} */

/* .service-1.active {
  transform: scale(1.05); /* Scale up slightly when active */
  /* opacity: 1; /* Full opacity when active */
  /* background: rgba(255, 255, 255, 0.8); Lighter background when active */
/* }  */

/*
.service-img-frame {
  grid-row: 2 / 7;
  grid-column: 5 / 7;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  padding: 80px;
  background: rgba(255, 255, 255, 0);
  width:400px;
  height:600px;
} */

/* .service-img-frame img {
  width: 400px;
  max-width: 600px;
  height: 70%;
  border-radius: 20px;
  margin-top: 60px;
}  */

/* Service font Styling */

/* .services .service-blurb h2  {
  font-family: "montserrat", sans-serif;
  color: darkred;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
}

.services p {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.services .service-1 h2,
.services .service-2 h2,
.services .service-3 h2,
.services .service-4 h2{
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
} */

/* Media Query for smaller screens - Example: for screens narrower than 768px */

/* @media (max-width: 768px) { */
  /* .services-content { */
    /* display: grid; */
    /* grid-template-columns: 1fr; Single column layout */
    /* grid-gap: 15px; Adjust grid gap for better spacing */
    /* margin-bottom: 40px; Adjust bottom margin */
  /* } */


/* commenting out
  .services-content img {
    display:block;
    margin-left: auto;
    margin-right:auto;
    grid-column: 1; /* Full width
    height: auto; /* Maintain aspect ratio
    /* max-width: 100%; /* Ensure it doesn't overflow the screen
  }
   /*

  /* .steel-service-blurb,
  .service-1,
  .service-2,
  .service-3 { */
    /* grid-column: 1; Full width for each service */
    /* margin: 20px 0; Uniform margin for top and bottom */
    /* width: auto; Adjust width to fit container */
    /* text-align: center; Center align the text  */
    /* padding: 15px; Adjust padding */
  /* } */

  /* Adjust the service blocks to center content, including the icons */
  /* .service-1, .service-2, .service-3 { */
    /* text-align: center; Center align the text and content */
    /* position: relative; Ensure relative positioning */
    /* padding-top: 50px; Add padding to top to make space for the icon */
  /* } */

  /* .service-1 .material-symbols-outlined,
  .service-2 .material-symbols-outlined,
  .service-3 .material-symbols-outlined {
    position: absolute; /* Keep the icons absolutely positioned */
    /* top: 10px; Position icons near the top of the service block */
    /* left: 50%; Center horizontally */
    /* transform: translateX(-50%); Adjust horizontal centering */
    /* width: 40px; Maintain icon width */
    /* height: 40px; Maintain icon height */
    /* margin-bottom: 10px; Adjust as needed */
  /* }
} */




/*Home Screen product layout */

.products-hero h1 {
display: inline-block; /* Ensures proper alignment and animation */
font-family: "montserrat", sans-serif;
font-size: 90px;
font-weight: 400;
grid-column: 1 / 4;
grid-row: 1 / 2;
margin-bottom: 0;
/* margin-top: 20vh; */
margin-left: 20px;
color: black;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  scroll-margin-top: 100px;
  position: relative; /* Ensure positioning context for pseudo-elements */
  background-color: #f4ede4;
}

.product-blurb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items to the start of the container */
  gap: 10px; /* Adjust this value to control the space between items */
  align-items: start; /* Align items to the start of the flex container */
  grid-column: 4 / 8;
  grid-row: 1 / 1;
  padding: 20px;
  text-align: left;
  background-color: #f4ede4;
  /* margin-top: 100px;
  margin-left: 100px; */
}

.product-blurb h2  {
  font-family: "montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 400;
  font-style: normal;
  color: darkred;
  margin-bottom: 0;
}

.product-blurb p {
  font-family: "montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  font-style: normal;
}

.product-blurb-img {
  grid-column: 1 / 4; /* Span full width */
  grid-row: 1 / 2;
  background-image: url('../img/aboutus.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; /* Lower z-index so text can appear above */
  position: relative; /* Necessary for absolute positioning of the pseudo-element */
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Space between the buttons */
  margin-top: 10px; /* Adjust as needed */
}

.view-products-button, .view-services-button {
  background-color: darkred;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap; /* Prevent button text from wrapping */
}

.hero-product-1 {
  grid-column: 1;
  grid-row: 2;
}

@media (max-width: 768px) {
  .hero-product-1 {
    display: none; /* Hide the hero product card on mobile */
  }

  .product-blurb-img{
    height: 90vh;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Space between the buttons */
    margin-top: 10px; /* Adjust as needed */
  }
}


.hero-product-1 img {
  width: 300px;
  height: 250px;
}

.hero-product-1 h2{
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.hero-product-1 p {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.hero-product-1 summary {
  display: inline-block;
  list-style: none; /* Removes default list marker */
  padding: 10px 20px;
  font-family: "montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  background-color: #8B0000;
  color: white;
  width: 50%;
  height: 10%;
  align-content: center;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 45%;
  text-align: center;
  cursor: pointer; /* Makes it clear the summary is clickable */
  position: relative; /* Needed for absolute positioning of the Lottie icon */
}

.hero-product-1 summary::-webkit-details-marker {
  display: none; /* Hide the default arrow on Chrome and Safari */
}

.hero-product-1 summary::marker {
  display: none; /* Standard way to hide the marker */
}


#lottie-animation-6 {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  position: absolute; /* Absolute positioning within the summary */
  left: 10px; /* Positioned to the right */
  top: 50%; /* Centered vertically */
  transform: translateY(-50%); /* Ensure it's perfectly centered */
  margin-left: 15%;
}

/* hero product cards styling

.hero-product-card-1 {
  padding: 20px;
  background:
  url('../img/factory.jpg') top center / 100% 50% no-repeat,
    linear-gradient(to bottom, Transparent 50%, darkred 50%);
  border-radius: 10px;
  height:250px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin-top: 6%;
}

.accordion-toggle {
  display: none; /* Hide the checkbox itself
}



.accordion-label {
  display: block;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: #fafafa;
  color: white;
  padding: 0 10px;
}

 */

/* Style when checkbox is checked */
.accordion-toggle:checked + .accordion-label + .accordion-content {
  max-height: 100px; /* Adjust based on content size */
  padding: 10px;
}


/*contact us layout */

.contact-us-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: darkred;
  height: 1000px;
  scroll-margin-top: 8px;
}

.contact-us-content h2 {
  grid-column: 1 / 4; /* Text content in the first column */
  font-family: "montserrat", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  margin-top: 90px;
  color: white;
  margin-left: 14%;
  position: relative; /* Ensure the h2 element is the reference for the ::after element */
  margin-bottom: 1.4rem;
}

.contact-us-content h2::after {
  content: "";
  position: absolute;
  bottom: -0.500rem; /* Adjust the position of the divider */
  left: 0.8em; /* Position relative to the h2 text */
  width: 12rem; /* Adjust the width of the divider */
  height: 0.125rem; /* Adjust the height of the divider */
  background-color: white; /* Color of the divider */
  border-radius: 0.3125rem;
}

/*Contact us form styling */

.contactForm {
  grid-column: 5 / 8;
  grid-row: 2 / 3;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-right: 150px;
  max-height: 100%;
  max-width: 550px;
}

/* Input and Textarea Styling */
.contact-us-content input[type="name"],
.contact-us-content input[type="email"],
.contact-us-content input[type="text"],
.contact-us-content select,
.contact-us-content textarea {
  font-family: "montserrat", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}

/* Label Styling */
.contact-us-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Fix button so it is the same as other buttons */

/* Button Styling */
.contact-us-content button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  white-space: nowrap;
}

/* Button Hover Effect */
.contact-us-content button:hover {
  background-color: rosybrown;
}

/* Helper Text */
.contact-us-content p {
  font-size: 0.85em;
  color: #666;
}

/* our locations styling */

.our-locations-content {
  grid-column: 1 / 4;
  grid-row: 2 / 2;
  margin-left: 15%;
  position: relative;
  z-index: 1;
}

.our-locations-content h2 {
  font-family: "montserrat", sans-serif;
  font-size: 34px;
  color: white;
}

.our-locations-content h3 {
  font-family: "montserrat", sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.our-locations-content p {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

.our-locations-content a {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  line-height: 0.8;
  color: white;
}

.our-locations-content img {
  filter: invert(100%);
  margin-top: 5px;
}

.map {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  position: relative;
  margin-top: 50px;
}

.map #mapid {
position: relative;
  margin-top: 40%;
  margin-left: 15%;
  height: 400px;
  width: 75%;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  filter: saturate(10) brightness(2) grayscale(1);
}

/* Change the color of Leaflet marker pin */
.leaflet-marker-icon {
  filter: hue-rotate(300deg); /* Adjust the hue to change the color */
}

/* Media query for screen sizes between 769px and 1465px */
@media (min-width: 769px) and (max-width: 1465px) {

  .our-locations-content {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    margin-left: 15%;
    position: relative;
    margin-bottom: 0;
  }

  .contact-us-content {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, auto);
    height: auto; /* Allow height to adjust based on content */
  }

  .contact-us-content h2 {
    grid-column: 1 / 4; /* Ensure the heading spans the necessary columns */
    margin-left: 10%; /* Adjust margin to fit smaller screens */
  }

  .contactForm {
    grid-column: 5 / 8; /* Ensure the form spans the necessary columns */
    margin-right: 5%; /* Adjust margin to fit smaller screens */
    max-width: 75%; /* Ensure form fits within available space */
    max-height: 80%;
    grid-row: 2 / 4;
  }

  .our-locations-content {
    grid-column: 1 / 4; /* Ensure the content spans the necessary columns */
    margin-left: 10%; /* Adjust margin to fit smaller screens */
  }

  .map {
    grid-column: 1 / 4; /* Ensure the map spans the necessary columns */
    grid-row: 3 / 4; /* Move the map to its own row */
    margin-top: 0; /* Remove unnecessary margin */
  }

  .map #mapid {
    margin-top: 1%; /* Adjust margin to fit smaller screens */
    margin-left: 10%; /* Adjust margin to fit smaller screens */
    width: 80%; /* Adjust width to fit smaller screens */
    margin-bottom: 20%;
  }
}

@media (max-width: 768px) {
  .contact-us-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    height: auto;
  }

  .contact-us-content h2::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust the position of the divider */
    left: 36%; /* Center the divider horizontally */
    transform: translateX(-50%); /* Ensure the divider is centered with respect to the h2 element */
    width: 50vw; /* Adjust the width of the divider */
    height: 2px; /* Adjust the height of the divider */
    background-color: white; /* Color of the divider */
    border-radius: 5px; /* Optional: Add rounded corners to the divider */
  }

  .contact-us-content h3 {
    grid-row: 1;
    grid-column: 1; /* Ensure it spans the whole width */
    margin-left: 0; /* Reset margin for mobile view */

  }
  .our-locations-content {
    grid-column: 1 ;
    grid-row: 3;
    margin-left: 5vw;
    position: relative;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width:90%;
    text-align: left;
    line-height: 3.5;
  }

  .contactForm {
    grid-row: 2;
    grid-column: 1;
    margin-right: 0;
    margin-top: 1vh;
    width: 90%;
    justify-self: center;

  }
  .map{
    grid-row: 4;
    padding-bottom: 5vh;
    margin-left: 0;
    margin-top: 0;
  }
  .map #mapid{
    grid-row: 4 ;
    grid-column: 1; /* Ensure it spans the whole width */
    margin-right: 0; /* Reset margin for mobile view */
    margin-top: 1vh;
    width: 90%;
    margin-left: 5vw;


  }
}


/*home footer layout */

footer {
  background: white;
  color: black;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 250px;
}

.footer-section h3 {
  font-family: "montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

.footer-section p {
  font-family: "montserrat", sans-serif;
  color: black;
  text-decoration: none;
}


.footer-section a:hover {
  text-decoration: underline;
}

.footer-section.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the content horizontally */
}

.footer-section.social img {
  width: auto; /* Adjust the size of the icon as needed */
  height: auto;
  margin-top: 10px; /* Add some margin if needed */
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid black;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 0;
}

/* product page */

/* Product hero layout */

.products-hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  font-family: 'montserrat', sans-serif;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.products-hero img {
  grid-column: 1 / 6;
  grid-row: 1 / 4;
  object-fit: cover;
  width: 100%;
  height: 120%;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* Adjust the scale value as needed */
  z-index: -1;
}
.products-hero h1 {
  display: inline-block; /* Ensures proper alignment and animation */
  font-family: "montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 400;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-top: 110px;
  margin-bottom: 0;
  margin-left: 20px;
  z-index: 1;
}
.products-hero h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  margin-top: 250px;
  margin-left: 20px;
}


.our-products-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0;
  grid-row-gap: 0.6rem;
  grid-column-gap: 0.1rem;
  scroll-margin-top: 10vh;
  background-color: darkred;
  padding-bottom: 5rem;
}

.our-products .our-products-blurb h2 {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: relative;
  margin-bottom: 1.4rem;
}

.our-products .our-products-blurb h2::after {
  content: "";
  position: absolute;
  bottom: -0.500rem; /* Adjust the position of the divider */
  left: 1em; /* Position relative to the h2 text */
  width: 13rem; /* Adjust the width of the divider */
  height: 0.125rem; /* Adjust the height of the divider */
  background-color: white; /* Color of the divider */
  border-radius: 0.3125rem; /* Optional: Add rounded corners to the divider */
}

.our-products p {
  font-family: "montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.our-products .our-products-1 h2,
.our-products .our-products-2 h2,
.our-products .our-products-3 h2,
.our-products .our-products-4 h2 {
  font-family: "montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.our-products-blurb {
  grid-column: 2 / 6;
  grid-row: 1 / 4;
  padding-top: 3.5rem;
  position: relative;
}

.our-products-1,
.our-products-2,
.our-products-3,
.our-products-4 {
  display: flex;
  align-items: center;
  grid-column: 2 / 5;
  padding-top: 3rem;
  position: relative;
  margin-left: 5%;
}

.our-products-1 .material-symbols-outlined,
.our-products-2 .material-symbols-outlined,
.our-products-3 .material-symbols-outlined,
.our-products-4 .material-symbols-outlined {
  width: 2.5rem;
  height: 2.5rem;
  font-family: 'Material Symbols Outlined';
  font-size: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%; /* Space between the icon and the text */
}


/* our products media query */

@media (max-width: 768px) {
  .our-products-content {
    grid-template-columns: 1fr; /* Use a single column layout for smaller screens */
    grid-gap: -5vh; /* Increase grid gap to avoid content squeezing */
    scroll-margin-top: 50px;
    background-color: darkred;
    border-radius: 0 0 0 0; /* Adjust border-radius for aesthetic fitting */
    padding: 20px; /* Increase padding for better content encapsulation */
  }

  .our-products .our-products-blurb h2 {
    font-size: 24px;
    margin-bottom: 10px; /* Ensure space below headings */
    text-decoration: none; /* Remove underline */
    position: relative; /* Ensure relative positioning for the underline */
    display: inline-block; /* Make the title behave like a block element */
  }

  .our-products .our-products-blurb h2::after {
    content: "";
    position: absolute;
    bottom: -0.625rem; /* Adjust the position of the divider */
    left: 0.8em; /* Position relative to the h2 text */
    width: 10rem; /* Adjust the width of the divider */
    height: 0.125rem; /* Adjust the height of the divider */
    background-color: white; /* Color of the divider */
    border-radius: 0.3125rem;
  }

  .our-products p {
    font-size: 16px;
  }

  .our-products .our-products h2,
  .our-products .our-products h2,
  .our-products .our-products h2 {
    font-size: 18px;
  }

  /* Adjust the layout of content areas to prevent icon overlap */
  .our-products-blurb,
  .our-products-1,
  .our-products-2,
  .our-products-3,
  .our-products-4 {
    grid-column: 1 / -1;
    padding: 20px; /* Increase padding for clarity */
    position: relative; /* Ensure positioning context is set */
  }


  .our-products-1 .material-symbols-outlined,
  .our-products-2 .material-symbols-outlined,
  .our-products-3 .material-symbols-outlined,
  .our-products-3 .material-symbols-outlined,
  .our-products-4 .material-symbols-outlined {
    position: absolute;
    left: -30px; /* Adjust left positioning to prevent overlap */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 30px; /* Adjust icon size */
    height: 30px; /* Adjust icon size */
    font-size: 30px; /* Adjust icon font size for consistency */
  }
}

/*

Steel products layout

.steel-products {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 100px;
  margin-bottom: 100px;
  scroll-margin-top: 100px;
  position: relative; /* Ensure positioning context for pseudo-elements
}


.steel-product-blurb h2  {
  font-family: "montserrat", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  color: darkred;
}

.steel-product-blurb p {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}


.steel-product-1 {
  grid-column: 3;
  grid-row: 1;
}

.steel-product-2 {
  grid-column: 4;
  grid-row: 1;
}

.steel-product-3 {
  grid-column: 5;
  grid-row: 1;
}

.steel-product-4 {
  grid-column: 3;
  grid-row: 2;
}

.steel-product-5 {
  grid-column: 4;
  grid-row: 2;
}

.steel-product-6 {
  grid-column: 5;
  grid-row: 2 ;
}

.steel-product-1,
.steel-product-2,
.steel-product-3,
.steel-product-4,
.steel-product-5,
.steel-product-6{
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px; /* Add some padding
  margin: 15px; /* Add some margin
  background-color: #f4ede4;
  width: 310px;
  height: 361.88px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  perspective: 1000px; /* Required for 3D effect
  transform-style: preserve-3d; /* Enables 3D position preservation
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  position: relative;
}

.steel-product-1 img,
.steel-product-2 img,
.steel-product-3 img,
.steel-product-4 img,
.steel-product-5 img,
.steel-product-6 img{
  width: 300px;
  height: 250px;
}

.steel-product-1 h2,
.steel-product-2 h2,
.steel-product-3 h2,
.steel-product-4 h2,
.steel-product-5 h2,
.steel-product-6 h2{
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.steel-product-1 p,
.steel-product-2 p,
.steel-product-3 p,
.steel-product-4 p,
.steel-product-5 p,
.steel-product-6 p{
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}


/* Styles for the front and back of the card
.steel-product-1 .card-front, .steel-product-1 .card-back,
.steel-product-2 .card-front, .steel-product-2 .card-back,
.steel-product-3 .card-front, .steel-product-3 .card-back,
.steel-product-4 .card-front, .steel-product-4 .card-back,
.steel-product-5 .card-front, .steel-product-5 .card-back,
.steel-product-6 .card-front, .steel-product-6 .card-back {
  backface-visibility: hidden; /* Hide the back face of the element
  transform-style: preserve-3d; /* Preserve 3D
}

.steel-product-1 .card-front,
.steel-product-2 .card-front,
.steel-product-3 .card-front,
.steel-product-4 .card-front,
.steel-product-5 .card-front,
.steel-product-6 .card-front {
  backface-visibility: hidden;
  text-align: center;
  z-index: 2;
}

/* Specific style for the back of the card
.steel-product-1 .card-back,
.steel-product-2 .card-back,
.steel-product-3 .card-back,
.steel-product-4 .card-back,
.steel-product-5 .card-back,
.steel-product-6 .card-back{
  transform: rotateY(180deg); /* Rotate the back initially
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin-top: 50px;
  align-content: center;
}

.steel-product-1:hover,
.steel-product-2:hover,
.steel-product-3:hover,
.steel-product-4:hover,
.steel-product-5:hover,
.steel-product-6:hover{
  background-color: darkred; /* Darker red background on hover
  color: white;
}

/* Apply font to the list
.steel-product-1 ul,
.steel-product-2 ul,
.steel-product-3 ul,
.steel-product-4 ul,
.steel-product-5 ul,
.steel-product-6 ul{
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  list-style-type: square;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px
@media (max-width: 768px) {
  .steel-products {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout
    grid-template-rows: repeat(6,auto);
    gap: 2vh; /* Add some gap between items
    margin-top: 1vh; /* Adjust margins for better spacing on mobile
    margin-bottom: 50px;
    scroll-margin-top: 50px;
  }

  .steel-product-blurb h2 {
    font-size: 24px; /* Adjust font size
  }

  .steel-product-blurb p {
    font-size: 16px; /* Adjust font size
  }

  .steel-product-blurb img {
    width: 100%; /* Full width image
    height: auto; /* Maintain aspect ratio
  }

  .steel-product-1,
  .steel-product-2,
  .steel-product-3,
  .steel-product-4,
  .steel-product-5,
  .steel-product-6 {
    grid-column: 1; /* Full width
    grid-row: auto;
    width: 80vw; /* Full width
    height: 90%; /* Auto height
  }

  .steel-product-1 img,
  .steel-product-2 img,
  .steel-product-3 img,
  .steel-product-4 img,
  .steel-product-5 img,
  .steel-product-6 img {
    width: 100%; /* Full width image
    height: 33vh; /* Maintain aspect ratio
  }

  .steel-product-1 h2,
  .steel-product-2 h2,
  .steel-product-3 h2,
  .steel-product-4 h2,
  .steel-product-5 h2,
  .steel-product-6 h2 {
    font-size: 16px; /* Adjust font size
  }

  .steel-product-1 p,
  .steel-product-2 p,
  .steel-product-3 p,
  .steel-product-4 p,
  .steel-product-5 p,
  .steel-product-6 p {
    font-size: 14px; /* Adjust font size
  }

  .steel-product-1 .card-back,
  .steel-product-2 .card-back,
  .steel-product-3 .card-back,
  .steel-product-4 .card-back,
  .steel-product-5 .card-back,
  .steel-product-6 .card-back {
    margin-top: 20px; /* Adjust margin
    padding: 10px; /* Adjust padding
  }
}

*/

/* services page styling */

/* services hero layout */

.services-hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  font-family: 'montserrat', sans-serif;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.services-hero img {
  grid-column: 1 / 6;
  grid-row: 1 / 4;
  object-fit: cover;
  width: 100%;
  height: 120%;
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* Adjust the scale value as needed */
  z-index: -1;
}

.services-hero h1 {
  display: inline-block; /* Ensures proper alignment and animation */
  font-family: "montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 400;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-top: 110px;
  margin-bottom: 0;
  margin-left: 20px;
  z-index: 1;
}
.services-hero h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  margin-top: 250px;
  margin-left: 20px;
}

/* Our services blurb section */

.our-services-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0;
  grid-row-gap: 0.1rem;
  grid-column-gap: 0.1rem;
  scroll-margin-top: 10vh;
  background-color: darkred;
  padding-bottom: 5rem;
}


.our-services .our-services-blurb h2  {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: relative;
  margin-bottom: 1.4rem;
}

.our-services .our-services-blurb h2::after {
  content: "";
  position: absolute;
  bottom: -0.500rem; /* Adjust the position of the divider */
  left: 0.8em; /* Position relative to the h2 text */
  width: 20rem; /* Adjust the width of the divider */
  height: 0.125rem; /* Adjust the height of the divider */
  background-color: white; /* Color of the divider */
  border-radius: 0.3125rem;
}

.our-services p {
  font-family: "montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.our-services .our-services-1 h2,
.our-services .our-services-2 h2,
.our-services .our-services-3 h2 {
  font-family: "montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.our-services-blurb {
  grid-column: 2 / 6;
  grid-row: 1 / 4;
  padding-top: 3.5rem;
  position: relative;
}

.our-services-1,
.our-services-2,
.our-services-3 {
  display: flex;
  align-items: center;
  grid-column: 2 / 5;
  padding-top: 3rem;
  position: relative;
  margin-left: 5%;
}

.our-services-1 .material-symbols-outlined,
.our-services-2 .material-symbols-outlined,
.our-services-3 .material-symbols-outlined {
  width: 2.5rem;
  height: 2.5rem;
  font-family: 'Material Symbols Outlined';
  font-size: 2.25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%; /* Space between the icon and the text */
}

/* our services media query */
@media (max-width: 768px) {
  .services-hero {
    height: 75vh; /* Smaller height for mobile screens */
  }
  .our-services-content {
    grid-template-columns: 1fr; /* Use a single column layout for smaller screens */
    grid-gap: -5vh; /* Increase grid gap to avoid content squeezing */
    scroll-margin-top: 50px;
    background-color: darkred;
    border-radius: 0 0 0 0; /* Adjust border-radius for aesthetic fitting */
    padding: 20px; /* Increase padding for better content encapsulation */
  }

  .our-services .our-services-blurb h2 {
    font-size: 24px;
    margin-bottom: 10px; /* Ensure space below headings */
    text-decoration: none; /* Remove underline */
    position: relative; /* Ensure relative positioning for the underline */
    display: inline-block; /* Make the title behave like a block element */
  }

  .our-services .our-services-blurb h2::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Position the underline below the text */
    left: 7%; /* Start the underline from the left */
    width: 16rem; /* Make the underline span the entire width */
    height: 2px; /* Adjust the height of the underline */
    background-color: white; /* Color of the underline */
  }

  .our-services p {
    font-size: 16px;
  }

  .our-services .our-services h2,
  .our-services .our-services h2,
  .our-services .our-services h2 {
    font-size: 18px;
  }

  /* Adjust the layout of content areas to prevent icon overlap */
  .our-services-blurb,
  .our-services-1,
  .our-services-2,
  .our-services-3,
  .our-services-4 {
    grid-column: 1 / -1;
    padding: 20px; /* Increase padding for clarity */
    position: relative; /* Ensure positioning context is set */
  }


  .our-services-1 .material-symbols-outlined,
  .our-services-2 .material-symbols-outlined,
  .our-services-3 .material-symbols-outlined,
  .our-services-3 .material-symbols-outlined{
    position: absolute;
    left: -30px; /* Adjust left positioning to prevent overlap */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 30px; /* Adjust icon size */
    height: 30px; /* Adjust icon size */
    font-size: 30px; /* Adjust icon font size for consistency */
  }
}

/* services hero layout */

.services-hero h1 {
  display: inline-block; /* Ensures proper alignment and animation */
  font-family: "montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 400;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-bottom: 0;
  /* margin-top: 20vh; */
  margin-left: 20px;
  color: black;
}

.all-services {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  scroll-margin-top: 100px;
  position: relative; /* Ensure positioning context for pseudo-elements */
  background-color: #f4ede4;
}

.services-blurb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items to the start of the container */
  gap: 10px; /* Adjust this value to control the space between items */
  align-items: start; /* Align items to the start of the flex container */
  grid-column: 4 / 8;
  grid-row: 1 / 1;
  padding: 20px;
  text-align: left;
  background-color: #f4ede4;
  /* margin-top: 100px;
  margin-left: 100px; */
}

.services-blurb h2  {
  font-family: "montserrat", sans-serif;
  font-size: 5vw;
  font-weight: 400;
  font-style: normal;
  color: darkred;
  margin-bottom: 0;
}

.services-blurb p {
  font-family: "montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  font-style: normal;
}

.services-blurb-img {
  grid-column: 1 / 4; /* Span full width */
  grid-row: 1 / 2;
  background-image: url('../img/shipping.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; /* Lower z-index so text can appear above */
  position: relative; /* Necessary for absolute positioning of the pseudo-element */
  height: 100vh;
}


.hero-services-1 {
  grid-column: 1;
  grid-row: 2;
}

@media (max-width: 768px) {
  .hero-product-1 {
    display: none; /* Hide the hero product card on mobile */
  }

  .product-blurb-img{
    height: 90vh;
  }
}


