/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* body layout */

/* header layout */

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 150px;
  background-color: white;
}

header img {
  grid-column: 1;
  height: 62px;
  width: 307px;
  margin-left: 20px;
  margin-top: 30px;
}

/* header 1 logo sub

header h1 {
  grid-column: 1;
  font-family: 'Kalnia', serif;
  font-size: 50px;
  margin-left: 20px;
  text-align: left;
}

.red-dot {
  color: red;
}
*/


/*hero layout */

.hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  font-family: 'Playfair Display', serif;
  background-color: antiquewhite;
  height: 800px;
}

@keyframes cycleWords {
  0%, 100% { content: 'Global'; }
  14% { content: 'Shipping & Storage'; }
  29% { content: 'Steel Markets'; }
  43% { content: 'Quality Steel'; }
  57% { content: 'Hot Rolled Coils'; }
  71% { content: 'Cold Rolled Coils'; }
  86% { content: 'General Purpose Steel'; }

}

/* Styling for the cycling word */
.hero h1 .word-cycle::after {
  content: 'Steel Trading.'; /* Initial word */
  animation: cycleWords 4s steps(1, end) 1; /*infinite (use if you want to cycle infinite */; /* 3 seconds duration, infinite loop */
}

.hero h1 {
  display: inline-block; /* Ensures proper alignment and animation */
  font-size: 90px;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: 20px;
}


.hero h2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-top: 0;
  margin-left: 20px;
}

/* hero form styling */

.hero form {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 80px;
  margin-right: 50px;
  max-height: 600px;
  max-width: 500px;
}

/* Input and Textarea Styling */
.hero input[type="text"],
.hero input[type="email"],
.hero select,
.hero textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}

/* Label Styling */
.hero label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Button Styling */
.hero button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button Hover Effect */
.hero button:hover {
  background-color: rosybrown;
}

/* Helper Text */
.hero p {
  font-size: 0.85em;
  color: #666;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    grid-template-rows: auto auto auto; /* Adjust grid rows to accommodate stacked content */
    height: auto; /* Adjust height to accommodate stacked content */
  }

  .hero h1 {
    grid-column: 1;/* Span the heading across the single column */
    grid-row: 1;
    font-size: 50px; /* Optionally adjust font size */
    margin-top: 20px; /* Reduce top margin */
    margin-left: 20px; /* Adjust left margin */
    margin-bottom: 0; /* Reduce space below h1 */
  }

  .hero h2 {
    grid-column: 1; /* Span subheading across the single column */
    grid-row: 2; /* Position subheading below the heading */
    margin-left: 20px; /* Adjust left margin */
    margin-top: 20px; /* Move h2 text up to avoid overlap */
    margin-bottom: 0; /* Reduce space below h2 */
  }

  .hero form {
    grid-column: 1; /* Place the form in the first column */
    grid-row: 3; /* Position the form below the text */
    margin-top: 0; /* Add some space above the form */
    margin-right: 20px; /* Adjust right margin */
    max-width: 100%; /* Allow the form to take full width */
  }
}

/* about us */

/* what we do layout */

.what-we-do {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 30px;
  margin-left: 200px;
}

.what-we-do .what-we-do-content{
  grid-column: 1 / 4; /* Text content in the first column */
}

.what-we-do h2 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 34px;
}

.what-we-do p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 24px;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media (max-width: 768px) {
  .what-we-do {
    grid-template-columns: 1fr; /* Use a single column layout on smaller screens */
    margin-left: 20px; /* Adjust left margin for smaller screens */
  }

  .what-we-do .what-we-do-content {
    grid-column: 1; /* Make content span the full width of the single column */
  }

  .what-we-do h2, .what-we-do p {
    font-size: 20px; /* Optionally, adjust font sizes for smaller screens */
  }
}

/* who we are layout */

.who-we-are {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 2px solid rgb(245 245 245); /* Add a border */
  align-items: center; /* Center the content vertically */
  margin-right: 200px;
  margin-left: 200px;
  background-color: rgb(245 245 245);
}

.who-we-are .who-we-are-content {
  grid-column: 1 / 4; /* Text content in the first column */
}

.who-we-are h2 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 34px;
}

.who-we-are p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 24px;
}

.who-we-are img {
  grid-column: 4 / 7; /* Image in the second column */
  width: 100%; /* Full width of the grid cell */
  height: 800px; /* Maintain aspect ratio */
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */

@media (max-width: 768px) {
  .who-we-are {
    grid-template-columns: 1fr; /* Switch to a single column layout on smaller screens */
    margin-right: 20px; /* Adjust right margin for smaller screens */
    margin-left: 20px; /* Adjust left margin for smaller screens */
  }

  .who-we-are .who-we-are-content, .who-we-are img {
    grid-column: 1; /* Make content and image span the full width of the single column */
  }

  .who-we-are img {
    height: auto; /* Adjust image height to maintain aspect ratio */
  }

  .who-we-are h2, .who-we-are p {
    font-size: 20px; /* Optionally, adjust font sizes for smaller screens */
  }
}

/*our expertise layout */

.our-expertise {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 30px;
  margin-left: 200px;
}

.our-expertise .our-expertise-content{
  grid-column: 1 / -1; /* Text content in the first column */
  grid-row: 1;
}

.our-expertise h2 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 34px;
}

.our-expertise p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 24px;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media (max-width: 768px) {
  .our-expertise {
    grid-template-columns: 1fr; /* Switch to a single column layout on smaller screens */
    margin-left: 20px; /* Adjust left margin for smaller screens */
    margin-bottom: 20px; /* Optionally adjust bottom margin for spacing */
  }

  .our-expertise h2, .our-expertise p {
    font-size: 20px; /* Optionally, adjust font sizes for smaller screens */
  }
}

/* Our products layout */

.areas-of-expertise {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.expertise-1 {
  grid-column: 2;

}

.expertise-2 {
  grid-column: 3;
}

.expertise-3 {
  grid-column: 4;
}

.expertise-4 {
  grid-column: 5;
}

.expertise-1,
.expertise-2,
.expertise-3,
.expertise-4 {
  border: 2px solid rgb(245 245 245);
  padding: 20px; /* Add some padding */
  margin: 10px; /* Add some margin */
  background-color: rgb(245 245 245);
  width: 310px;
  text-align: left;
  font-family: 'PT Serif', serif;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media (max-width: 768px) {
  .areas-of-expertise {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust columns for smaller screens */
  }

  .expertise-1,
  .expertise-2,
  .expertise-3,
  .expertise-4 {
    grid-column: auto; /* Allow items to flow naturally in the grid */
    width: auto; /* Adjust width to fit within the grid */
    margin: 10px; /* Adjust margin for consistent spacing */
  }
}

/*contact us layout */

.where-we-are {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 30px;
  margin-left: 200px;
}

.where-we-are .where-we-are-content{
  grid-column: 1 / 4; /* Text content in the first column */
}

.where-we-are h2 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 34px;
}

.where-we-are p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 24px;
}

.contact-us {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 2px solid rgb(245 245 245); /* Add a border */
  margin-right: 200px;
  margin-left: 200px;
  background-color: rgb(245 245 245);
  margin-bottom: 60px;
}

.contact-us .contact-us-content {
  grid-column: 1 / 3;

}

.contact-us-content h2 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 34px;
}

.contact-us-content h3 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
}

.contact-us-content p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  line-height: 0.8;
}

.map {
  grid-column: 3 / 7;
}

.map #mapid {
  height: 600px;
  width: 100%;
  margin-top: 50px;
  grid-column: 3 / 7;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media (max-width: 768px) {
  .where-we-are, .contact-us {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    margin-left: 20px; /* Adjust left margin */
    margin-right: 20px; /* Adjust right margin */
  }

  .where-we-are .where-we-are-content, .contact-us .contact-us-content {
    grid-column: 1; /* Make content span the full width */
  }

  .map {
    grid-column: 1; /* Place the map in the first column */
  }

  .map #mapid {
    height: 400px; /* Optionally adjust the map's height */
    margin-top: 20px; /* Adjust the top margin */
  }

  /* Adjust font sizes for smaller screens if necessary */
  .where-we-are h2, .where-we-are p, .contact-us-content h2, .contact-us-content h3, .contact-us-content p {
    font-size: 20px;
  }
}

/*footer layout */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  background-color: white;
}

/* no address righ
.address {
  grid-column: 1;
  align-content: start;
  margin-left: 20px
}
*/

/* no links right now

.footer-links {
  text-align: center;
  grid-column: 2;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul li {
  display: block;
}

.footer-links ul li a {
  text-decoration: none;
  color: white;
}

.footer-links ul li a:hover {
  color: #00a0c6;
  text-decoration: underline;
}

 */

.footer-logo {
  grid-column: 2;
  justify-items: center;
}

.footer-logo img {
  height: 200px;
  width: 400px;
  border: white;
  background-color: white;
  filter: brightness(1) contrast(2);
  align-content: center;
  align-items: center;
}

.footer-social {
  grid-column: 2;
  margin-bottom: 30px;
  justify-content: center;
  justify-items: center;
  margin-left: 120px;
  width: auto;

}

.footer-social img {
  height: 30px;
  width: 30px;
  margin: 10px;
}


