/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* body layout */

/* header layout */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  margin-bottom: auto;
  z-index: 1000;
  transition: background-color 0.5s; /* Smooth transition for background color */
}

header img {
  grid-column: 1;
  height: 62px;
  width: 307px;
  margin-left: 20px;
  margin-top: 30px;
}

/* Navbar styling when scrolling */
header.scrolled {
  background-color: white; /* Change background color to white when scrolled */
}

header.scrolled nav a {
  color: black; /* Change font color to black when scrolled */
}

.white-logo {
  color: white;
}

/* header 1 logo sub

header h1 {
  grid-column: 1;
  font-family: 'Kalnia', serif;
  font-size: 50px;
  margin-left: 20px;
  text-align: left;
}

.red-dot {
  color: red;
}
*/

/* Hamburger menu styling */

nav .material-symbols-outlined {
  display: none; /* Hide by default */
  cursor: pointer;
  font-size: 36px; /* Adjust size as needed */
  transition: background-color 0.5s, color 0.5s; /* Smooth transition for background color */
  margin-right: 20px; /* Add margin to push it to the right */;
}

/* Header Navigation Styling */

nav {
  grid-column: 3; /* Positioned in the middle */
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align navigation links to the right */
  align-items: center; /* Center vertically within the header */
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for navigation links */
}

nav ul li {
  margin-right:25px; /* Adjust margin between navigation links */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last navigation link */
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  transition: color 0.5s; /* Smooth transition for font color */
}

nav.scrolled {
  background-color: white; /* Change background color to white */
  color: black; /* Change font color to black */
}

nav.scrolled a {
  color: black; /* Change font color to white */
}


.contact-button {
  background-color: darkred;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 20px; /* Adjust margin between navigation links and contact button */
  font-family: 'Playfair Display', serif;
  white-space: nowrap; /* Prevent button text from wrapping */
}

.contact-button:hover {
  background-color: rosybrown;
}

/* Ensure the Contact Us button maintains white text color when scrolled */
header.scrolled nav a.contact-button {
  color: white; /* Keeps text color white even when scrolled */
}

/* media query for smaller screens */
@media (max-width: 1200px) {
  nav ul li {
    margin-right: 10px; /* Reduce margin between navigation links */
  }

  .contact-button {
    margin-left: 10px; /* Reduce margin between navigation links and contact button */
  }
}

@media (max-width: 768px) {
  /* Header adjustments with flexbox */
  header {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out logo and hamburger menu */
    align-items: center; /* Align items vertically center */
    height: 80px; /* Adjust the header height for smaller screens */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
  }

  /* Adjust logo size and alignment */
  header img {
    margin-top: 0;
    height: auto; /* Maintain aspect ratio */
    width: 30%; /* Adjust the width as needed */
    margin-left: 20px; /* Adjust left margin for padding */
  }

  /* Navigation adjustments */
  nav {
    display: flex; /* Apply flex layout */
    align-items: center; /* Align vertically */
  }

  /* Style for both icons */
  nav .material-symbols-outlined {
    font-size: 30px;
    cursor: pointer;
    z-index: 1010;
  }

  /* Initially display only the menu icon */
  nav .material-symbols-outlined:first-of-type {
    display: block; /* Show menu icon */
  }

  /* Initially hide the close icon */
  nav .material-symbols-outlined:nth-of-type(2) {
    display: none; /* Hide close icon */
  }

  /* When menu is open, hide the menu icon and show the close icon */
  nav ul.show + .material-symbols-outlined:first-of-type {
    display: none;
  }
  nav ul.show + .material-symbols-outlined:nth-of-type(2) {
    display: block;
  }

  /* Menu styling */
  nav ul {
    display: none; /* Hide the menu initially on smaller screens */
    position: fixed;
    top: 80px; /* Adjust top position to keep it below the header */
    left: -100%; /* Start off-screen */
    width: 100%; /* Adjust width as needed */
    height: calc(100vh - 80px); /* Full viewport height minus header height */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease; /* Smooth transition for sliding in */
    z-index: 1000; /* Ensure it's above other content */
    padding-top: 0; /* Adjust padding to avoid overlapping the header */
  }

  nav ul.show {
    display: flex; /* Show menu when 'show' class is added */
    left: 0; /* Bring the menu into view */
  }

  nav ul li {
    margin-right: 0;
  }

  /* Hide other nav content on smaller screens except for the hamburger icon */
  nav > *:not(.material-symbols-outlined) {
    display: none;
  }

  nav a, .contact-button {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .contact-button {
    padding: 12px 24px; /* Increase button padding for easier tapping */
    margin-left: 0;
    margin-top: 20px;
  }

}

/*hero layout */

.hero,
.container,
.intro,
.content {
  box-sizing: border-box;
  margin: 0;
}

.hero h1 {
  display: inline-block; /* Ensures proper alignment and animation */
   font-family: 'Playfair Display', serif;
  font-size: 90px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-bottom: 0;
  margin-top: 110px;
  margin-left: 20px;
  color: white;
  /* new border box style if needed
  border: 2px black rgba(0, 0, 0, 0.1);
  border-radius: 0 200px 0px 200px;
  background-color: RGBA(139, 0, 0, 0.9);
  color: white;
  text-align: center;
  padding-top: 50px;
   */
}


.intro h2 {
  color: white;
  opacity: 0;
  font-size: 5rem;
  animation: fadeIn 2s ease forwards;
  font-family: 'Playfair Display', serif;
}

.intro {
  height: 900px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.container {
  position: relative;
}

main {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform: scale(0, 0);
  animation: animate 1s ease-in forwards 2s;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Match the .about-us-content structure */
  width: 100%;
  height: 100%;
  overflow: hidden; /* Maintains the existing overflow rule */
  padding-bottom: 50px; /* Optional, for consistency */
}

.hero-video {
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  animation: animate 1s ease-in forwards 2s;
  object-fit: cover; /* This will cover the area without losing aspect ratio */
  z-index: -1; /* Ensure the video stays in the background */
  filter: brightness(50%); /* Adjust brightness for better text readability */
  grid-column: 1 / -1; /* Span all columns */
  grid-row: 1; /* Start from the first row */
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}





/*

.hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  font-family:'Playfair Display', serif;
  /* original background color
  background-color: antiquewhite;
   */
  /* original background image for desktop
  background-image: url('../img/london.jpg'); */
  /*background-size: cover;
  height: 950px;
  margin-bottom: 0;
}




/* animation for cycling words updated
@keyframes cycleWords {
  0%, 100% { content: 'Quality'; }
  50% { content: 'Performance'; }
}

/*
@keyframes cycleWords {
  0%, 100% { content: 'Global'; }
  14% { content: 'Shipping & Storage'; }
  29% { content: 'Steel Markets'; }
  43% { content: 'Quality Steel'; }
  57% { content: 'Hot Rolled Coils'; }
  71% { content: 'Cold Rolled Coils'; }
  86% { content: 'General Purpose Steel'; }

}
/*

 */
/* Styling for the cycling word
.hero h1 .word-cycle::after {
  content: 'Quality Performance'; /* Initial word
  animation: cycleWords 4s steps(1, end) 1; /*infinite (use if you want to cycle infinite */ /* 3 seconds duration, infinite loop
}
*/

/* draft transition effect
.hero-title {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-title .text {
  position: absolute;
  opacity: 0; /* Start invisible
  transition: all 2s ease; /* Smooth transition for properties
  color: white;
  font-size: 90px;
}

.hero-title .top-left {
  top: 0; /* Starting top position
  left: 50%; /* Start from the center horizontally
  transform: translateX(-50%); /* Center it horizontally based on its own width
  animation: moveDown 2s forwards;
  animation-delay: 5s;
}

.hero-title .bottom-right {
  bottom: 0; /* Starting bottom position
  right: 50%; /* Start from the center horizontally
  transform: translateX(50%); /* Center it horizontally based on its own width
  animation: moveUp 2s forwards;
  animation-delay: 0.5s;
}

@keyframes moveDown {
  0%, 50% { /* From 0% to 50% of the animation time, keep the word in its starting position
    top: 0;
    opacity: 1; /* Make sure the word is visible
    transform: translateX(-50%);
  }
  100% { /* At the end of the animation, move the word down
    top: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes moveUp {
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element
    opacity: 1; /* Make the element fully visible
  }
}

*/



/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media screen and (max-width: 768px)
{
  .hero {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto; /* Auto-adjusting rows */
    background-size: cover; /* Adjust background image to fit the screen */
    height: 400px; /* Adjust height to content */
    padding: 20px; /* Add some padding for smaller screens */
    margin-top: 80px; /* Add margin to create space between header and hero */
  }

/* Adjust the font size and margins for h1 */
.hero h1 {
  font-size: 25px; /* Smaller font size for smaller screens */
  grid-column: 1; /* Span the single column */
  grid-row: 1; /* Place in the first row */
  margin-top: 30px; /* Adjust top margin */
  margin-left: 10px; /* Adjust left margin */
  margin-bottom: 10px; /* Add bottom margin to create space between h1 and h2 */
}

/* Adjust the font size and margins for h2 */
.hero h2 {
  font-size: 10px; /* Smaller font size for smaller screens */
  grid-column: 1; /* Span the single column */
  grid-row: 1; /* Place in the second row */
  margin-top: 80px; /* Adjust top margin */
  margin-left: 10px; /* Adjust left margin */
}

/* Adjust the cycling word animation for smaller screens if necessary */
.hero h1 .word-cycle::after {
  /* Adjust font size, animation speed, etc., as needed */
}

/* hero form styling commenting out

.hero form {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 150px;
  margin-right: 50px;
  max-height: 600px;
  max-width: 500px;
}
*/

/* Input and Textarea Styling commenting out
.hero input[type="text"],
.hero input[type="email"],
.hero select,
.hero textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}
/*

/* Label Styling commenting out
.hero label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

*/

/* Button Styling commenting out
.hero button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

 */

/* Button Hover Effect commenting out
.hero button:hover {
  background-color: rosybrown;
}
*/


/* Helper Text commenting out
.hero p {
  font-size: 0.85em;
  color: #666;
}
*/

/*form styling

/* Adjust form styling (commenting out)
  .hero form {
    grid-column: 1 / -1;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
  }

 */

  /* Adjust input and textarea styling (commenting out)
  .hero input[type="text"],
  .hero input[type="email"],
  .hero select,
  .hero textarea {
    width: calc(100% - 40px);
    margin-bottom: 15px;
  }

   */

  /* Adjust button styling (commenting out)
  .hero button {
    width: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

   */

/* what we do layout

.what-we-do {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 30px;
  margin-left: 200px;
}

.what-we-do .what-we-do-content{
  grid-column: 3 / 5; /* Text content in the first column
  margin-bottom: 30px;
}

/* commenting out to save
.what-we-do h2 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 26px;
  border-radius: 10px;
  width: 310px;
  text-align: center;
  position: relative;
}


.what-we-do h2::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust the position of the divider
  left: 50%; /* Center the divider horizontally
  transform: translateX(-50%); /* Center the divider horizontally
  width: 100px; /* Adjust the width of the divider
  height: 2px; /* Adjust the height of the divider
  background-color: darkred; /* Color of the divider
  border-radius: 5px; /* Optional: Add rounded corners to the divider

/* commenting out to save
.what-we-do p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 24px;
}
*/


/* Media Query for smaller screens - Example: for screens narrower than 768px
@media (max-width: 768px) {
  .what-we-do {
    grid-template-columns: 1fr; /* Use a single column layout on smaller screens
    margin-left: 20px; /* Adjust left margin for smaller screens
  }

  .what-we-do .what-we-do-content {
    grid-column: 1; /* Make content span the full width of the single column *
  }

  .what-we-do h2 .what-we-do p {
    font-size: 20px; /* Optionally, adjust font sizes for smaller screens
  }
}

.what-we-do {
  grid-template-columns: 1fr; /* Single column layout
  margin: 0 20px 30px 20px; /* Adjust margins to fit smaller screens
  padding: 0 15px; /* Add padding for better spacing
}

.what-we-do .what-we-do-content {
  grid-column: 1; /* Span content across the single column
  margin-bottom: 20px; /* Adjust bottom margin
}

.what-we-do h2 {
  font-size: 24px; /* Reduce font size for headings
  text-align: center; /* Center-align the headings for better visual balance
}

.what-we-do h2::after {
  bottom: -15px; /* Adjust position of the divider
  width: 80px; /* Reduce width of the divider *
}


/* Uncomment and adjust the paragraph styles as needed */
/*
.what-we-do p {
  font-size: 18px;
}
 */

.about-us-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 80px;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  scroll-margin-top:100px;
  background-color: darkred;
  border-radius: 0 0 25% 25%;
  padding-bottom: 50px;
}


.about-us .about-us-blurb h2  {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: relative;
}

.about-us .about-us-blurb h2::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust the position of the divider */
  left: 10%; /* Center the divider horizontally */
  transform: translateX(-50%); /* Ensure the divider is centered with respect to the h2 element */
  width: 100px; /* Adjust the width of the divider */
  height: 2px; /* Adjust the height of the divider */
  background-color: white; /* Color of the divider */
  border-radius: 5px; /* Optional: Add rounded corners to the divider */
}
.about-us p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.about-us .about-us-1 h2,
.about-us .about-us-2 h2,
.about-us .about-us-3 h2,
.about-us .about-us-4 h2{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.about-us-blurb {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  padding-top: 24px;
  position: relative;
}

.about-us-1 {
  grid-column: 2 / 5;
  padding-top: 24px;
  position: relative;
  margin-left: 60px;
}

.about-us-1 .material-symbols-outlined {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-2 {
  grid-column: 2 / 5;
  padding-top: 24px;
  position: relative;
  margin-left: 60px;
}

.about-us-2 .material-symbols-outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-3 {
  grid-column: 2 / 5;
  padding-top: 24px;
  position: relative;
  margin-left: 60px;
}

.about-us-3 .material-symbols-outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-4 {
  grid-column: 2 / 5;
  padding-top: 24px;
  position: relative;
  margin-left: 60px;
}

.about-us-4 .material-symbols-outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about us media query */
@media (max-width: 768px) {
  .about-us-content {
    display: grid;
    grid-template-columns: 1fr; /* Use a single column layout for smaller screens */
    margin-bottom: 40px;
    grid-gap: 20px; /* Increase grid gap to avoid content squeezing */
    scroll-margin-top: 50px;
    background-color: darkred;
    border-radius: 0 0 0 0; /* Adjust border-radius for aesthetic fitting */
    padding: 20px; /* Increase padding for better content encapsulation */
  }

  .about-us .about-us-blurb h2 {
    font-size: 24px;
    margin-bottom: 10px; /* Ensure space below headings */
    text-decoration: none; /* Remove underline */
    position: relative; /* Ensure relative positioning for the underline */
    display: inline-block; /* Make the title behave like a block element */
  }

  .about-us .about-us-blurb h2::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Position the underline below the text */
    left: 50%; /* Start the underline from the left */
    width: 100%; /* Make the underline span the entire width */
    height: 2px; /* Adjust the height of the underline */
    background-color: white; /* Color of the underline */
  }

  .about-us p {
    font-size: 16px;
  }

  .about-us .about-us-1 h2,
  .about-us .about-us-2 h2,
  .about-us .about-us-3 h2,
  .about-us .about-us-4 h2{
    font-size: 18px;
  }

  /* Adjust the layout of content areas to prevent icon overlap */
  .about-us-blurb,
  .about-us-1,
  .about-us-2,
  .about-us-3,
  .about-us-4 {
    grid-column: 1 / -1;
    padding: 20px; /* Increase padding for clarity */
    position: relative; /* Ensure positioning context is set */
  }


  .about-us-1 .material-symbols-outlined,
  .about-us-2 .material-symbols-outlined,
  .about-us-3 .material-symbols-outlined,
  .about-us-3 .material-symbols-outlined{
    position: absolute;
    left: -60px; /* Adjust left positioning to prevent overlap */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 30px; /* Adjust icon size */
    height: 30px; /* Adjust icon size */
    font-size: 30px; /* Adjust icon font size for consistency */
  }
}

/* Services layout */

.services-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, auto); /* Adjusted to provide more rows */
  margin-bottom: 80px;
  grid-column-gap: 1px;
  scroll-margin-top: 100px;
  padding-bottom: 30px;
  background-color: #f4ede4
}

.steel-service-blurb {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  padding: 20px; /* Unified padding */
  position: relative;
  background-color: white;
  color: black;
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 0 200px 200px 0px;
  margin: 50px 15px; /* Margin added */
  width: 600px;
  height: 346.88px;
  text-align: center;
}

.service-1, .service-2, .service-3 {
  grid-column: 5 / 7;
  padding-top: 24px;
  position: relative;
  display: flex; /* Use flexbox for inline alignment */
  align-items: center; /* Align items vertically */
}

.service-1 .material-symbols-outlined,
.service-2 .material-symbols-outlined,
.service-3 .material-symbols-outlined {
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: darkred;
  margin-right: 20px; /* Space between the icon and the text */
}

.shipping-service-blurb {
  grid-column: 5 / 7;
  padding: 20px; /* Unified padding */
  position: relative;
  background-color: darkred;
  color: white;
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 200px 0 0 200px;
  margin: 50px 15px; /* Margin added */
  width: 600px;
  height: 346.88px;
  text-align: center;
  margin-top: 190px;
}

.service-4 {
  grid-column: 2 / 4;
  grid-row: 4; /* Adjusted to place it in a separate row */
  display: flex;
  align-items: center; /* Vertically center contents */
  position: relative;
  padding-top: 24px;
}

.service-4 img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


/* Service font Styling */

.services .steel-service-blurb h2  {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
}

.services .shipping-service-blurb h2  {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
}

.services p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}



.services .service-1 h2,
.services .service-2 h2,
.services .service-3 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

/* Service Box Styling */



.service-1,
.service-2,
.service-3 {
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px; /* Add some padding */
  margin: 5px 0; /* Add some margin */
  width: 600px;
  text-align: left;
}

.service-4 img {
  border: 2px hidden rgba(0, 0, 0, 0.1);
  padding: 20px; /* Add some padding */
  margin: 5px 0; /* Add some margin */
  width: 600px;
  height: 500px;
  text-align: left;
  margin-top: 100px;
}

/* commenting out to save
.who-we-are p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 24px;
}

.who-we-are img {
  grid-column: 4 / 7;
  width: 100%;
  height: 800px;
}
*/

/* Media Query for smaller screens - Example: for screens narrower than 768px */

@media (max-width: 768px) {
  .services-content {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-gap: 15px; /* Adjust grid gap for better spacing */
    margin-bottom: 40px; /* Adjust bottom margin */
  }

  .services-content img {
    display:block;
    margin-left: auto;
    margin-right:auto;
    grid-column: 1; /* Full width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't overflow the screen */
  }

  .steel-service-blurb,
  .service-1,
  .service-2,
  .service-3 {
    grid-column: 1; /* Full width for each service */
    margin: 20px 0; /* Uniform margin for top and bottom */
    width: auto; /* Adjust width to fit container */
    text-align: center; /* Center align the text */
    padding: 15px; /* Adjust padding */
  }

  /* Adjust the service blocks to center content, including the icons */
  .service-1, .service-2, .service-3 {
    text-align: center; /* Center align the text and content */
    position: relative; /* Ensure relative positioning */
    padding-top: 50px; /* Add padding to top to make space for the icon */
  }

  .service-1 .material-symbols-outlined,
  .service-2 .material-symbols-outlined,
  .service-3 .material-symbols-outlined {
    position: absolute; /* Keep the icons absolutely positioned */
    top: 10px; /* Position icons near the top of the service block */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    width: 40px; /* Maintain icon width */
    height: 40px; /* Maintain icon height */
    margin-bottom: 10px; /* Adjust as needed */
  }
}

/*our expertise layout

.our-expertise {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 30px;
  margin-left: 200px;
}

.our-expertise .our-expertise-content{
  grid-column: 3 / 5; /* Text content in the first column
  grid-row: 1;
}

.our-expertise h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  border-radius: 10px;
  width: 310px;
  text-align: center;
  position: relative;
}

.our-expertise h2::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust the position of the divider
  left: 50%; /* Center the divider horizontally
  transform: translateX(-50%); /* Center the divider horizontally
  width: 100px; /* Adjust the width of the divider
  height: 2px; /* Adjust the height of the divider
  background-color: darkred; /* Color of the divider
  border-radius: 5px; /* Optional: Add rounded corners to the divider
}

.our-expertise p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px
@media (max-width: 768px) {
  .our-expertise {
    grid-template-columns: 1fr; /* Single column layout
    margin: 0 20px 30px 20px; /* Adjust margins to fit smaller screens
  }

  .our-expertise .our-expertise-content {
    grid-column: 1; /* Full width of the column
  }

  .our-expertise h2 {
    font-size: 24px; /* Slightly larger font size for heading
    width: auto; /* Adjust width to fit content
    margin: 0 auto 10px; /* Center the heading and adjust margin
    text-align: center; /* Center-align the heading
  }

  .our-expertise h2::after {
    bottom: -15px; /* Adjust position of the divider
    width: 80px; /* Adjust width of the divider
  }

  .our-expertise p {
    font-size: 16px; /* Adjust font size for better readability
    text-align: justify; /* Justify the text for better alignment
    margin-top: 10px; /* Add some space above paragraph
  }
}

/* Our products layout */

.steel-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 100px;
  scroll-margin-top: 100px;
}

.steel-product-blurb {
  grid-column: 2;
  padding: 20px; /* Add some padding */
  margin: 15px; /* Add some margin */
  width: 310px;
  text-align: left;
  background-color: white;

}

.steel-product-blurb h2  {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
}

.steel-product-blurb p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.steel-product-blurb img {
  grid-column: 2;
  width: 250px;
  height: 250px;
}


.steel-product-1 {
  grid-column: 3;
}

.steel-product-2 {
  grid-column: 4;
}

.steel-product-3 {
  grid-column: 5;
}

.steel-product-1,
.steel-product-2,
.steel-product-3 {
  border: 2px hidden rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px; /* Add some padding */
  margin: 15px; /* Add some margin */
  background-color: #f4ede4;
  width: 310px;
  height: 361.88px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  perspective: 1000px; /* Required for 3D effect */
  transform-style: preserve-3d; /* Enables 3D position preservation */
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  position: relative;
  /* commenting out original transition config to save
  transition: transform 1s cubic-bezier(0.6, 0.0, 0.4, 1), background-color 0.3s ease;
  transform-origin: center; /* Center the rotation */
  }

.steel-product-1 img,
.steel-product-2 img,
.steel-product-3 img {
  width: 300px;
  height: 250px;
}

.steel-product-1 h2,
.steel-product-2 h2,
.steel-product-3 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.steel-product-1 p,
.steel-product-2 p,
.steel-product-3 p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}


/* Styles for the front and back of the card */
.steel-product-1 .card-front, .steel-product-1 .card-back,
.steel-product-2 .card-front, .steel-product-2 .card-back,
.steel-product-3 .card-front, .steel-product-3 .card-back {
  /* Your existing styles... */
  backface-visibility: hidden; /* Hide the back face of the element */
  transform-style: preserve-3d; /* Preserve 3D */
}

.steel-product-1 .card-front,
.steel-product-2 .card-front,
.steel-product-3 .card-front {
  backface-visibility: hidden;
  text-align: center;
  z-index: 2;
}

/* Specific style for the back of the card */
.steel-product-1 .card-back,
.steel-product-2 .card-back,
.steel-product-3 .card-back {
  transform: rotateY(180deg); /* Rotate the back initially */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin-top: 50px;
  align-content: center;
}

.steel-product-1:hover,
.steel-product-2:hover,
.steel-product-3:hover {
  /* removing spin effect to allow js to take control
  transform: rotateY(180deg); /* Spin effect */
  background-color: darkred; /* Darker red background on hover */
  color: white;
  /* commenting out - if not needed for go live remove
  transition: transform 1s cubic-bezier(0.6, 0.0, 0.4, 1) 0.2s, background-color 0.3s ease;

   */
}

/* Apply font to the list */
.steel-product-1 ul,
.steel-product-2 ul,
.steel-product-3 ul {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  list-style-type: square;
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media (max-width: 768px) {
  .steel-products {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
    grid-gap: 15px; /* Adjust grid gap for consistent spacing */
  }

  .steel-product-blurb img,
  .steel-product-1 img,
  .steel-product-2 img,
  .steel-product-3 img {
    width: 100%; /* Full width of the column */
    height: auto; /* Maintain aspect ratio of the images */
    max-width: 250px; /* Limit the maximum width of the image */
    margin: 0 auto; /* Center the images */
    display: block;
  }

  .steel-product-blurb,
  .steel-product-1,
  .steel-product-2,
  .steel-product-3 {
    grid-column: 1; /* Span across the full width of the column */
    margin: 10px auto; /* Center the items with automatic margin */
    width: calc(100% - 20px); /* Full width minus the margin */
    text-align: center;
    padding: 15px; /* Adjust padding */
    box-shadow: none; /* Optionally, remove box-shadow for a cleaner look */
  }

  .steel-product-1 ul,
  .steel-product-2 ul,
  .steel-product-3 ul {
    grid-column: 1;
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 0; /* Remove padding if present */
    margin: 0; /* Adjust margin as needed */
    list-style-position: inside; /* Adjust list bullet position */
  }
}

/*contact us layout */

.contact-us-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 60px;
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;
  background-color: darkred;
  height: 800px;
  scroll-margin-top: 100px;
  margin-bottom: 135px;
}

.contact-us-content h2 {
  grid-column: 1 / 4; /* Text content in the first column */
  font-family: 'Playfair Display', serif;
  font-size: 34px;
  text-align: center;
  margin-top: 90px;
  color: white;
}

/* combine address info
.our-locations {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 100px;
}

.our-locations-content-test {
  grid-column: 1 / 3;
  text-align: left;
  margin-left: 220px;

}

.our-locations-content-test h2 {
  grid-column: 1 / 3;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 34px;
  color: white;
  margin-top: 50px;
  margin-right: 210px;
}

.our-locations-content-test h3 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  color: white;
}

.our-locations-content-test p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  line-height: 0.8;
  color: white;
}

.our-locations-content-test a {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  line-height: 0.8;
  color: white;
}

.our-locations-content-test img {
 filter: invert(100%);
}

 */

/* Media Query for larger screens */
@media (max-width: 1200px) {
  .contact-us-content {
    height: auto; /* Adjust height to fit content */
    padding: 20px; /* Add padding for better spacing */
  }

  .contact-us-content h2 {
    font-size: 28px; /* Adjust font size for smaller screens */
    margin-top: 40px; /* Adjust top margin */
    text-align: left; /* Align text to the left for better readability */
    padding: 0 10px; /* Add padding for text alignment */
  }
}

.contact-us-content form {
  grid-column: 4 / 6;
  margin-left: 100px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 60px;
  margin-right: 50px;
  max-height: 550px;
  min-width: 500px;
  max-width: 500px;
}


@media (max-width: 768px) {
  .contact-us-content {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
    margin-top: 30px; /* Adjust the top margin */
    margin-bottom: 30px; /* Adjust the bottom margin */
    height: auto; /* Adjust height to fit content */
    padding: 20px; /* Add padding for better spacing */
  }

  .contact-us-content h2 {
    grid-column: 1; /* Full width of the column */
    font-size: 28px; /* Adjust font size for smaller screens */
    margin-top: 40px; /* Adjust top margin */
    text-align: left; /* Align text to the left for better readability */
    padding: 0 10px; /* Add padding for text alignment */
  }
}

/*Contact us form styling */

.contact-us-content form {
  grid-column: 4 / 6;
  margin-left: 100px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 60px;
  margin-right: 50px;
  max-height: 550px;
  max-width: 500px;
}

/* Input and Textarea Styling */
.contact-us-content input[type="text"],
.contact-us-content input[type="email"],
.contact-us-content select,
.contact-us-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
}

/* Label Styling */
.contact-us-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Button Styling */
.contact-us-content button {
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button Hover Effect */
.contact-us-content button:hover {
  background-color: rosybrown;
}

/* Helper Text */
.contact-us-content p {
  font-size: 0.85em;
  color: #666;
}

@media (max-width: 768px) {
  .contact-us-content form {
    grid-column: 1; /* Span the form across the full width of the single column */
    margin-left: 20px; /* Adjust left margin for smaller screens */
    margin-right: 20px; /* Adjust right margin for smaller screens */
    margin-top: 30px; /* Adjust top margin for smaller screens */
    max-width: 100%; /* Allow the form to take full width of the column */
    padding: 15px; /* Adjust padding for better spacing */
    box-shadow: none; /* Optionally, remove box-shadow for a cleaner look */
  }

  /* Input and Textarea Styling */
  .contact-us-content input[type="text"],
  .contact-us-content input[type="email"],
  .contact-us-content select,
  .contact-us-content textarea {
    padding: 12px; /* Slightly larger padding for easier interaction on touch devices */
  }

  /* Button Styling */
  .contact-us-content button {
    width: 100%; /* Button takes full width of the form */
    padding: 12px 0; /* Adjust padding for better touch interaction */
  }

  /* Adjusting font sizes if necessary */
  .contact-us-content label,
  .contact-us-content p {
    font-size: 1em; /* Adjust font size for readability */
  }
}

/* our locations styling */

.our-locations {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 100px;
}

.our-locations .our-locations-content {
  grid-column: 1 / 3;

}

.our-locations-content h2 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 34px;
}

.our-locations-content h3 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
}

.our-locations-content p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  line-height: 0.8;
}

.our-locations-content a {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  line-height: 0.8;
}

.map {
  grid-column: 3 / 7;
}

.map #mapid {
  height: 600px;
  width: 100%;
  margin-top: 20px;
  grid-column: 3 / 7;
  filter: saturate(10) brightness(2) grayscale(1);
}

/* Change the color of Leaflet marker pin */
.leaflet-marker-icon {
  filter: hue-rotate(300deg); /* Adjust the hue to change the color */
}

/* Media Query for smaller screens - Example: for screens narrower than 768px */
@media (max-width: 768px) {
  .our-locations {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
    margin: 0 20px 30px 20px; /* Adjust margins to fit smaller screens */
  }

  .our-locations .our-locations-content {
    grid-column: 1; /* Full width of the column */
    margin-bottom: 20px; /* Adjust bottom margin for spacing */
  }

  .our-locations-content h2 {
    font-size: 28px; /* Adjust font size for heading */
  }

  .our-locations-content h3 {
    font-size: 22px; /* Adjust font size for subheading */
  }

  .our-locations-content p {
    font-size: 16px; /* Adjust font size for paragraph */
    line-height: 1.2; /* Adjust line height for better readability */
  }

  .our-locations-content a {
    font-size: 16px; /* Adjust font size for paragraph */
    line-height: 1.2; /* Adjust line height for better readability */
  }

  .map {
    grid-column: 1; /* Full width of the column */
  }

  .map #mapid {
    height: 400px; /* Adjust height of the map */
    margin-top: 10px; /* Adjust top margin for the map */
    margin-bottom: 20px;
  }
}

/*footer layout */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  background-color: white;
}

/* no address righ
.address {
  grid-column: 1;
  align-content: start;
  margin-left: 20px
}
*/

/* no links right now

.footer-links {
  text-align: center;
  grid-column: 2;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul li {
  display: block;
}

.footer-links ul li a {
  text-decoration: none;
  color: white;
}

.footer-links ul li a:hover {
  color: #00a0c6;
  text-decoration: underline;
}

 */

.footer-logo {
  grid-column: 2;
  justify-items: center;
}

.footer-logo img {
  height: 200px;
  width: 400px;
  border: white;
  background-color: white;
  filter: brightness(1) contrast(2);
  align-content: center;
  align-items: center;
}

.footer-social {
  grid-column: 2;
  margin-bottom: 30px;
  justify-content: center;
  justify-items: center;
  margin-left: 120px;
  width: auto;

}

.footer-social img {
  height: 30px;
  width: 30px;
  margin: 10px;
}


