# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache



about us CSS files with changes to responsive design instead of media queries 


.about-us-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0px;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  scroll-margin-top:100px;
  background-color: darkred;
  padding-bottom: 100px;
  margin-bottom: 10vh;
  
}


.about-us .about-us-blurb h2  {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: relative;
}

.about-us .about-us-blurb h2::after {
  content: "";
  position: absolute;
  bottom: 5px; /* Adjust the position of the divider */
  left: 19vw; /* Center the divider horizontally */
  transform: translateX(-50%); /* Ensure the divider is centered with respect to the h2 element */
  width: 160px; /* Adjust the width of the divider */
  height: 2px; /* Adjust the height of the divider */
  background-color: white; /* Color of the divider */
  border-radius: 5px; /* Optional: Add rounded corners to the divider */
}
.about-us p {
  font-family: "montserrat", sans-serif;
  font-size: .8em;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.about-us .about-us-1 h2,
.about-us .about-us-2 h2,
.about-us .about-us-3 h2 {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.about-us-blurb {
  grid-column: 2 / 7;
  grid-row: 1 / 4;
  padding-top: 24px;
  position: relative;
}

.about-us-1 {
  grid-column: 2 / 7;
  padding-top: 24px;
  position: relative;
  margin-left: 60px;
}

.about-us-1 .material-symbols-outlined {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-2 {
  grid-column: 2 / 7;
  padding-top: 24px;
  position: relative;
  margin-left: 60px;
}

.about-us-2 .material-symbols-outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-3 {
  grid-column: 2 / 7;
  padding-top: 24px;
  position: relative;
  margin-left: 60px;
}

.about-us-3 .material-symbols-outlined {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  width: 40px;
  height: 40px;
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}